<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h3 class="col-6 offset-3">Sign Up on Wanderlust</h3>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="enter your username" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    please enter a username
                  </div>
           
            
                <label for="email" class="form-label">Email-Id</label>
                <input name="email" id="email" placeholder="enter your email" type="email" class="form-control" required>
                <div class="invalid-feedback">
                    please enter a email-id
                  </div>

                  <label for="password" class="form-label">Password</label>
                  <input name="password" id="password" placeholder="enter your Password" type="password" class="form-control" required>
                  <div class="invalid-feedback">
                      please enter a password
                    </div>

                    <br><br>

                    <button class="btn btn-success">SignUp</button>

                </div>
        </form>
    </div>
</div>